# azure openai .env containings keys and env var stuff
/azure_openai_stuff/.env
/azure_openai_langchain/.env

# meta llama 8b model
meta-llama



# no-venv-folder (totally ignore all venv folders!)
*-venv*
*-env*
ml3-8b-instruct

# empty-venv-folders (venv folders and names are included at least, just not contents!)
# The contents inside a venv folder!
**/*-venv*/*
**/*-env*/**
**/ml3-8b-instruct/**
# Don't ignore the README.md inside the venv folders though, since cannot "git add" and "git commit" an empty directory
!**/*-venv*/README.md
!**/*-env*/README.md
!**/ml3-8b-instruct/README.md

# model large files too, github doesnt accept, maybe future just delete but for now just ignore them
pytorch_model.bin